@import url("../css/fonts.css");

html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;

  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

  --Abel: "Abel", cursive;
  --Anton: "Anton", cursive;
  --Josefin: "Josefin", cursive;
  --Lexend: "Lexend", cursive;
  --Livvic: "Livvic", cursive;
}

a {
  text-decoration: none;
  color: var(--text-gray);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: var(--Lexend);
  font-size: 2.5rem;
}

h2 {
  font-family: var(--Lexend);
}

h3 {
  font-family: var(--Abel);
  font-size: 1.3rem;
}

button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--Livvic);
  cursor: pointer;
}

span {
  font-family: var(--Abel);
}

.container {
  margin: 0 5vw;
}

.text-gray {
  color: var(--text-gray);
}

p {
  font-family: var(--Lexend);
  color: var(--text-light);
}

.nav {
  background: white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Abel);
  font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover {
  background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a {
  color: var(--white);
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
  font-family: var(--Lexend);
  font-size: 1.6rem;
}

main .site-title {
  background: url("../assets/FrontGate.png");
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center;
}

main .site-title .site-background {
  padding-top: 10rem;
  text-align: center;
  color: var(--text-gray);
}

main .site-title h1,
h3 {
  margin: 0.3rem;
}

main .site-title .btn {
  margin: 1.8rem;
  background: var(--sky);
}

main .site-title .btn:hover {
  background: transparent;
  border: 1px solid var(--text-gray);
  color: var(--text-gray);
}

main .blog {
  background: url("../assets/");
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  width: 100%;
  background-size: 65%;
}

main .blog .blog-post {
  padding-top: 6rem;
}

main .blog-post .blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title {
  padding: 2rem 0;
}

main .blog-content span {
  display: block;
}

section .container .owl-nav {
  position: absolute;
  top: 0%;
  margin: 0 auto;
  width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
  color: var(--text-gray);
  background: transparent;
  font-size: 2rem;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: var(--midnight);
}

.owl-theme .owl-nav [class*="owl-"] {
  outline: none;
}

main .site-content {
  display: grid;
  grid-template-columns: 70% 30%;
}

main .post-content {
  width: 100%;
}

main .site-content .post-content > .post-image,
.post-title {
  padding: 1rem 2rem;
  position: relative;
}

main .site-content .post-content > .post-image .post-info {
  background: var(--sky);
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  left: 20vw;
  border-radius: 3rem;
}

main .site-content .post-content > .post-image > div {
  overflow: hidden;
}

main .site-content .post-content > .post-image .img {
  width: 100%;
  transition: all 1s ease;
}

main .site-content .post-content > .post-image .img:hover {
  transform: scale(1.3);
}

main .site-content .post-content > .post-image .post-info span {
  margin: 0 0.5rem;
}

main .post-content .post-title a {
  font-family: var(--Anton);
  font-size: 1.5rem;
}

.site-content > .sidebar .category-list {
  font-family: var(--Livvic);
}

.site-content > .sidebar .category-list .list-items {
  background: var(--sky);
  padding: 0.4rem 1rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.site-content > .sidebar .category-list .list-items a {
  color: black;
}

.site-content .sidebar .best-post .post-content {
  padding: 1rem 0;
}

.site-content .sidebar .best-post h2 {
  padding-top: 8rem;
}

.site-content .sidebar .best-post .post-info {
  padding: 0.4rem 0.1rem !important;
  bottom: 0rem !important;
  left: 1.5rem !important;
  border-radius: 0rem !important;
  background: white !important;
}

.site-content .sidebar .best-post .post-title a {
  font-size: 1rem;
}

.site-content .sidebar .best-tags {
  padding: 5rem 0;
}

.site-content .sidebar .best-tags .tags .tag {
  background: var(--sky);
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  margin: 0.4rem 0.6rem;
}

footer.footer {
  height: 100%;
  background: var(--bg-color);
  position: relative;
}

footer.footer .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
}

footer.footer .container > div {
  flex-grow: 1;
  flex-basis: 0;
  padding: 3rem 0.9rem;
}

footer.footer .container h2 {
  color: var(--white);
}

footer.footer .rights {
  justify-content: center;
  font-family: var(--Josefin);
}

footer.footer .rights h4 a {
  color: var(--white);
}

footer.footer .move-up {
  position: absolute;
  right: 6%;
  top: 50%;
}

footer.footer .move-up span {
  color: var(--midnight);
}

footer.footer .move-up span:hover {
  color: var(--white);
  cursor: pointer;
}

@media only screen and (max-width: 1130px) {
  .site-content .post-content > .post-image .post-info {
    left: 2rem !important;
    bottom: 1.2rem !important;
    border-radius: 0% !important;
  }

  .site-content .sidebar .best-post .post-info {
    display: none !important;
  }

  footer.footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 750px) {
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }

  main .site-content {
    grid-template-columns: 100%;
  }

  footer.footer .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 520px) {
  main .blog {
    height: 125vh;
  }

  .site-content .post-content > .post-image .post-info {
    display: none;
  }

  footer.footer .container > div {
    padding: 1rem 0.9rem !important;
  }

  footer .rights {
    padding: 0 1.4rem;
    text-align: center;
  }
}
